//colors

$yellow: #f4d600;
$orange: #ed5621;
$pink: #dd52a8;
$blue: #0a9b9b;
$green: #42b23c;
$grey: #454545;
$white: #ffffff;

//fonts

$menu-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$text-font-family: 'Open Sans 300', Helvetica, Arial, sans-serif;
$text-i-font-family: 'Open Sans 300i', Helvetica, Arial, sans-serif;
$big-title-font-family: 'Oswald 600', Helvetica, Arial, sans-serif;
$medium-title-font-family: 'Oswald 400', Helvetica, Arial, sans-serif;
$small-title-font-family: 'Oswald 200', Helvetica, Arial, sans-serif;
$copyright-font-family: 'Open Sans 400', Helvetica, Arial, sans-serif;